.container {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    height: 100vh; /* 設定父容器高度為視窗高度，讓子元素在垂直方向上置中 */
  }
.btn {
    font-size: 32px; /* 設定根元素字體大小，可根據需要調整 */
    margin: 8px;
}

@media only screen and (max-width: 1024px) {
    .btn {
      font-size: 2.5rem; /* 使用相對單位 rem */
      padding: 0.5rem 1rem; /* 調整按鈕內邊距 */
    }
  }


